.fondo{
    background-image: url(./img/5689718.jpg);
    padding: 75px 100px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.fondo:before{
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
 .footer {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
width: 600px;
float: left ;
position: relative;
left: 650px;
top: 105px;
  }
.WhatsApp{
    cursor: pointer;
    margin: 25px;
    border-radius: 50px;
    border-color: transparent;
    
    background-image: url("./img/whasap.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    
}
.WhatsApp:hover{
    height: 75px;
    width: 75px;
    border-radius: 100px;
    transition: all 1s ease;

}

.Git{
    margin: 25px;
    cursor: pointer;
    border-radius: 50px;
    border-color: black;
    background-image: url("./img/git.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
}
.Git:hover{
    height: 75px;
    width: 75px;
    border-radius: 100px;
    transition: all 1s ease;
}

.LinkedIn{
    margin: 25px;
    cursor: pointer;
    border-radius: 50px;
    border-color: transparent;
    background-image: url("./img/linkedin.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
}
.LinkedIn:hover{
    height: 75px;
    width: 75px;
    border-radius: 100px;
    transition: all 1s ease-in-out;
} 
.pokebola{
    margin: 25px;
    cursor: pointer;
    border-radius: 50px;
    border-color: transparent;
    background-image: url("./img/pokebola.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90px;
    width: 90px;
    position: relative;
    bottom: 80px;
    right: 720px;
}
.pokebola:hover{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    transition: all 1s ease-in-out;
} 
.start{
    position: relative;
    top: 80px;
    right: 422px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
}
.textoLP{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
    font-size: 30px;
    width: 400px;
    position: relative;
bottom: 50px;
right: 50px;

}

.tituloLP{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
    font-size: 60px;
    width: 700px;
position: relative;
bottom: 100px;
right: 70px;
}  
