 .paginado { 
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary-900);
    width: 400px;
    height: 50px;
    margin: 0 auto;
}

.pageNumber {
    font-size: 16px;
    width: 48px;
    padding: 8px 16px ;
    text-align: center;
    color: #000;
    border: solid 1px var(--color-secondary-900);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    margin-right:20px ;
     } 
     .pageNumber:hover {
  
        background-color:transparent;
        color: rgb(251, 255, 0);
      }



 ul { 
    list-style: none; 
} 